<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="about container-fluid" id="about">
    <h1>About Us</h1>
    <p>
        Join us for <b>AdaHack 2025</b> - a 12-hour hackathon in honour of Mathematician Ada Lovelace! The theme this year is <b>INNOVATION</b>.
        Anyone is welcome. 
        During the day you'll choose from a selection of coding challenges that your team needs to try and solve. 
        You'll have the opportunity to network, meet like-minded individuals, and improve your technical skills. 
        Food, drinks, snacks, and mini-games will be provided. We hope to see you there!
        <br><br>
        The <a href="https://edinburghhoppers.com" target="_blank">Edinburgh Hoppers</a> the official society 
        for gender minorities in the School of Informatics at the University of Edinburgh. Our aim to create a 
        safe and inclusive environment for gender minorities in informatics to meet, make lasting connections, 
        have fun, and learn.
    </p>
</div>
