<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="about  container-fluid" >
    <h1 id="about">About</h1>
    <p>AdaHack is inspired by Ada Lovelace Day - one of our big, well known events in honour of the English Mathematician Ada Lovelace. This year, we have taken up a new initiative that will be replacing the conference that we host on this day. As is the objective of Edinburgh Hoppers society, by hosting this hackathon, we want to provide a safe space for women and other gender minorities to explore their creativity and ideas. Our society celebrates diversity in Tech and AdaHack is a great opportunity for students from different backgrounds to work together in teams and come up with innovative solutions to real-world problems.<br><br>
    AdaHack will be a 48 hour online hackathon open to all students across the University of Edinburgh. The main medium of communication and announcements during the hackathon will be Discord. Students can team up in teams of uptown 4 people to submit their projects via Devpost.</p>
</div>
