{% assign faq = site.data.faq %}

<div id = "faq" class="faq  container-fluid">
    <h1>Frequently asked questions</h1>
    <div class="wrapper">
        {% for pair in faq %}
        <div class="qanda container">
            <h4>Q: {{ pair.Q }}</h4>
            <h5>A: {{ pair.A }}</h5>
        </div>
        {% endfor %}

        <div class="qanda container">
            <h4>Couldn't find an answer to your questions? Please contact us on <a href="mailto:adahack21@gmail.com" target="_blank">adahack21@gmail.com</a> to find out more!</h4>

            <h5>This hackathon is run in accordance to MLH's <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct.</a></h5>
        </div>
    </div>
</div>
