<div id = "faq" class="faq  container-fluid">
    <h1>Frequently asked questions</h1>
    <div class="wrapper">
        <div class="qanda container">
            <h4>Q: I am a postgraduate student, can I participate?</h4>
            <h5>A: Yes you can! The hackathon is open to all students of The University of Edinburgh.</h5>
        </div>
        <div class="qanda container">
            <h4>Q: Is the hackathon beginner- friendly?</h4>
            <h5>A: Absolutely! We encourage beginners to participate as this is valuable learning experience</h5>
        </div>
        <div class="qanda container">
            <h4>Q: I’ll be busy on the first day of the hackathon, can I join later on? </h4>
            <h5>A: Yes. You can use the hackathon’s discord channel to form teams.</h5>
        </div>
        <div class="qanda container">
            <h4>Q: I don’t have a team, can I join?</h4>
            <h5>A: Yes! We will have a discord channel with the sole purpose of helping you find   teamsmates, that will be active through out the hackathon. You can also submit an individual project</h5>
        </div>
    </div>
</div>
