<div id = "faq" class="faq container-fluid">
    <h1>Frequently asked questions</h1>
    <div class="wrapper">
        <div class="qanda container">
            <h4>Q: </h4>
            <h4>A: </h4>
        </div>
        <div class="qanda container">
            <h4>Q: </h4>
            <h4>A: </h4>
        </div>
        <div class="qanda container">
            <h4>Q: </h4>
            <h4>A: </h4>
        </div>
        <div class="qanda container">
            <h4>Q: </h4>
            <h4>A: </h4>
        </div>
    </div>
</div>