
<!--
<p class="text-center mb-3">
  Coded with
  <img src="/assets/img/heart.png" alt="love" style="width: 1.5em;">
  at
  <img src="/assets/img/inf-logo.png" alt="The University of Edinburgh" style="width: 3em;">
</p>

{% include scripts.html %}
-->

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<section id="footer">
	<div class="footer">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a><a href="#"><i class="icon ion-android-globe"></i></a></div>
            <p class="copyright">Made with <3 by Hoppers</p>
        </footer>
    </div>
</section>

{% include scripts.html %}
