{% assign nav-items = site.data.nav %}

<nav class="sticky-top mt-3">
    <div class="left">
        {% for item in nav-items %}
        {% if item.left %}
        <a href='{{ item.href }}'>{{ item.text }}</a>
        {% endif %}
        {% endfor %}
    </div>
    <a href="https://adahack.edinburghhoppers.com/#"><img src="{{ '/assets/img/adahack-logo-2025.png' | relative_url }}"></a>
    <div class="right">
        {% for item in nav-items %}
        {% if item.right %}
        <a href='{{ item.href }}'>{{ item.text }}</a>
        {% endif %}
        {% endfor %}
    </div>
</nav>

<script>
    var threshold;
    var disabled = false;
    var nav = document.getElementsByTagName('nav')[0];
    var listener1, listener2;
    window.onload = function () {
        threshold = 0;
    };

    window.onscroll = function () {
        let currPos = document.getElementsByClassName('hero-section')[0].getBoundingClientRect().y;
        if (currPos < threshold) {
            console.log("true");
            nav.style.backgroundColor = "#213b76";
            document.querySelectorAll('nav a').forEach(e => {
                e.classList.add('with-background');
            });
        }
        else {
            disabled = false;
            nav.style.backgroundColor = "transparent";
            document.querySelectorAll('nav a').forEach(e => e.classList.remove('with-background'));
        }
    };
</script>
