{% assign nav-items = site.data.nav %}

<nav>
  <div class="left">
  {% for item in nav-items %}
    {% if item.left %}
      <a href='{{ item.href }}'>{{ item.text }}</a>
    {% endif %}
  {% endfor %}
</div>
  <img src="/assets/img/ada-hack-logo-trim.png">
<div class="right">
  {% for item in nav-items %}
    {% if item.right %}
      <a href='{{ item.href }}'>{{ item.text }}</a>
    {% endif %}
  {% endfor %}
</div>

</nav>

<script>
  var threshold;
  var disabled = false;
  var nav = document.getElementsByTagName('nav')[0];
  window.onload = function() {
    threshold = document.getElementsByClassName('hero-section')[0].getBoundingClientRect().y;
    console.log(threshold);
  }

  window.onscroll = function(){
    let currPos = document.getElementsByClassName('hero-section')[0].getBoundingClientRect().y;
    // console.log(currPos);
    if(currPos < threshold){
      disabled = true;
      console.log("true")
      nav.style.backgroundColor = "#3c0494ff";
      document.querySelectorAll('nav a').forEach(e => e.style.color = "white");
    }
    else{
      disabled = false;
      nav.style.backgroundColor = "transparent";
      document.querySelectorAll('nav a').forEach(e => e.style.color = "#3c0494ff");
    }
  }
  
</script>
