<script src="./PapaParse-5.0.2/papaparse.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    var link = "{{ '/assets/schedule.csv' | relative_url }}";
    function init() {
        Papa.parse(link, {
            download: true,
            header: true,
            complete: function (results) {
                var data = results.data;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#events').append(
                        '<div class="row event">' +
                        '<div class="col-sm-4 eventLeft">' +
                        '<h5 id="time"><b>' + data[i].Time + '</b></h5></div>' +
                        '<div class="col-sm-6 eventRight">' +
                        '<h5 class="eventTitle">' + data[i].Title + '</h5></div></div>'
                    );
                }
            }
        });
    }
    window.addEventListener('DOMContentLoaded', init);
</script>
