{% assign sponsors = site.data.sponsors %}

<div id = "sponsors" class="sponsors container-fluid">
<h1>Sponsors</h1>
<section class="sponsors-grid">
    {% for company in sponsors %}
    <div class="sponsor">
      <div class="sponsor-image-wrapper">
        <a href="{{ company.website }}" target="_blank">
          <img class="sponsor-image" 
            src="{{site.baseurl}}/assets/img/sponsors/{{ company.logo }}"
            alt="Logo for {{ company.name }}"
            {% if company.width %}
              width="{{ company.width }}"
            {% endif %}
            {% if company.height %}
              height="{{ company.height }}"
            {% endif %}>
        </a>
      </div>
      <h5>{{ company.name }}</h5>
    </div>
    {% endfor %}
  </section>
</div>