<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<div class="winners container-fluid" id="winners"  >
    <h1 >Ada Hack 2022 is over</h1>
    <p>We would like to say a massive congratulations and thank you to
        everyone who took part in <b>AdaHack 2022</b> this year,
        and thought we would give a shout out to our challenge winners here.
        
        <ul>
            <li>ProgSoc Challenge: TheFourHorseThem</li>
            <li>HumanEd Society Beginner Challenge: Ethan&Friends</li>
            <li>HumanEd Society Intermediate Challenge: theWindowsUsers</li>
            <li>Formula Student Challenge: Team India</li>
            <li>Blackrock Best Hack for Social Good: Twitter API for Analysing Trends</li>
            <li>Hoppers Tech Challenge: The Fruit Pastilles</li>
        </ul>

        Congratulations again to all our winners and participants. If you would like to
        view challenge submissions, you can do so on the <a href="https://ada-hack-2022.devpost.com/project-gallery" target="_blank">AdaHack 2022 DevPost</a>.
        We hope to see you next year at AdaHack 2023! </p>
</div>
