---
---

$languid-lavender: #e6d7feff;
$indigo: #3c0494ff;
$light-cyan: #cbf1f7ff;
$sunglow: #ffcb0eff;
$princeton-orange: #fd8835ff;


body{
  background-color: $light-cyan;
}

.nav{
  background-color: $indigo;

}