---
---

$languid-lavender: #e6d7feff;
$indigo: #3c0494ff;
$light-cyan: #cbf1f7ff;
$sunglow: #ffcb0eff;
$princeton-orange: #fd8835ff;
$light-grey: rgb(239, 239, 239);


body{
  background-color: $light-grey;
  // width: 100vw;
  margin: 0;
}

nav{
  height: 50px;
  background-color: $indigo;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 30px;

  a{
    padding: 10px 30px;
    margin: 0 2px;
    &:hover{
      background-color: $princeton-orange;
    }
  }
 
  img{
    height: 90px;
    width: 90px;
    margin-right: auto;
    margin-left: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px $sunglow;
  }
  
  
  // .circle{
  //   background-color: $light-cyan;
  //   width: 100vw;
  //   height: 100px;
  //   position: sticky;
  //   top: 0;
  // }
}

.hero-section{
  height: 80vh;
  width: 100%;
  display: grid;
  place-content: center;
}
