---
---

$languid-lavender: #e6d7feff;
$indigo: #3c0494ff;
$light-cyan: #cbf1f7ff;
$sunglow: #ffcb0eff;
$princeton-orange: #fd8835ff;
$light-grey: rgb(239, 239, 239);


body{
  background-color: $light-grey;
}

.nav{
  background-color: $indigo;

}