---
---
<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>
  <body>

  {% include nav.html %}

  <div class="">
    <div class="hero-section">
      <div class="background-wrapper">
        <img src="/assets/img/ada-hack-logo-no-title.png">
        <div class="text-wrapper">
          <h1 class="mb-3 text-center">
              {{ page.title }}
          </h1>

          {% if page.subtitle %}
            <h2 class="text-center mb-3">{{ page.subtitle }}</h2>
          {% endif %}
          <div class="reg-buttons">
            <button>Register as a mentor</button>
            <button>Register as a hacker</button>
          </div>
      </div>
    </div>
  </div>
        {{ content }}
  </div>

  {% include footer.html %}
  </body>
</html>
